<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015768123742-8cu8vkh2louftv4r5lkd1pu0a7vl8o04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015768123742-8cu8vkh2louftv4r5lkd1pu0a7vl8o04</string>
	<key>API_KEY</key>
	<string>AIzaSyA8SSa689e9eCESzF3V0-BbTz13QcXrxiU</string>
	<key>GCM_SENDER_ID</key>
	<string>1015768123742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.eventfollow</string>
	<key>PROJECT_ID</key>
	<string>eventfollow-1fc35</string>
	<key>STORAGE_BUCKET</key>
	<string>eventfollow-1fc35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015768123742:ios:d19dd49eb26cb7d37b27cf</string>
</dict>
</plist>